
.screen2{
    border-radius: 10%;
}
.roun{
    border-radius: 20px;
    overflow: hidden;
}
section#screen-10 {
    background: #e1999f;
    padding: 10px 0px;
}

.z-10{
    position: relative;
    z-index: 10;
}

.top-wave{
        height: 120px;
        background-color: #e1999f;
        position: relative;
        top: 10px;
}


.px-10{
    padding: 0px 20px;
}

@media screen and (min-width:1024px) {
    
    .px-10{
        padding: 0px 100px;
    }
}